body {
    background: green;
    div {
        color: pink;
        text-shadow: 1px 1px 1px #fff;
        border-radius: 5px;
        border: 1px solid yellow;
    }
    ::placeholder {
        color: gray;
      }
}